{% set DATA = DATA %}


<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <link rel='stylesheet' href='/stylesheets/style.css'></link>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>
    {% block content %}
    {% endblock %} 

    <br>
    
    <footer>
      <a href="/auth/logout">Logout</a>      
    </footer>

    {% block scripts %}
      <script>DATA = {{DATA|json_encode()}}</script>
      <script src="/bundle.js"></script>
    {% endblock %} 
  </body>
</html>